extends ../incomes/sidebar.pug

block header
  h1=`${t('layouts.application.incomesReport')} / ${t('layouts.application.bySourcesOfIncomes')}, ${t('layouts.application.amount').toLowerCase()}`

block main
  h2.fs-3=`${t('layouts.application.aboutIncomes')}с ${new Date(dateQuery.begin).toLocaleDateString('ru-RU')} по ${new Date(dateQuery.end).toLocaleDateString('ru-RU')}: ${amountByDate.total} ${t('layouts.application.valuta').toLowerCase()}`
  each incomesBySource, i in incomesBySources
    - const percent = String((incomesBySource.totalAmountBySource / amountByDate.total * 100).toFixed(0))
    - const classes = (percent) => percent <= 40 ? 'bg-danger' : percent <= 70 ? 'bg-warning text-dark' : 'bg-success'
    .d-flex.border.shadow.bg-white.align-items-center
      .col.border-end.p-2
        span=incomesBySource.name
      .col.p-2
        .progress.me-2(id=i role='progressbar' aria-valuenow=`${incomesBySource.totalAmountBySource}` aria-valuemin='0' aria-valuemax=`${amountByDate.max}`)
          .progress-bar(class=classes(percent) style=`width: ${percent < 6 ? 6 : percent}%`)=`${percent}%`
      .col.p-2 
        span=incomesBySource.totalAmountBySource


block filter
  .card-header.ps-4=t('layouts.application.timestamp')
  ul.list-group.list-group-flush.nav
    li.list-group-item.nav-item
      +formFor()(action='/reportSourcesOfIncomes' method='GET')
        .d-flex.flex-wrap.justify-content-between
          span=t('layouts.application.begin')
          input(type='date' name='begin' value=dateQuery.begin)
          span=t('layouts.application.end')
          input(type='date' name='end' value=dateQuery.end)
        input(class='btn btn-outline-primary btn-sm mt-3', type='submit' value=t('layouts.application.show'))

