include mixins/forms.pug

doctype html
html(lang="en")
  head
    title Finance Manager
    //- script(src=require('bootstrap/dist/js/bootstrap.bundle.min.js') rel="stylesheet")
    //- link(href=require('../../src/style.css') rel="stylesheet")
    //- link(href=require('bootstrap/dist/css/bootstrap.min.css') rel="stylesheet")
    //- img(src=require('../../src/assets/balance.jpeg'))
    //- img(src=require('../../src/assets/expenses.jpg'))
    //- img(src=require('../../src/assets/incomes.jpg'))
    //- img(src=require('../../src/assets/join.jpg'))
    //- img(src=require('../../src/assets/reg.png'))
    script(src='/assets/main.js')
    link(href='/assets/main.css' rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

  block layouts

